/* $Date: 2003/05/29 15:07:42 $ */

@import "/styles/NetBSD.css";

a:link {
	background-color: white;
	color: blue;
}

h1 {
	text-align: center;
}

p.section {
	font-size: 110%;
}

pre {
	font-size: 120%;
}

span.underline {
	text-decoration: underline;
}
